
.width200 {
    width: 200px !important;
}



.PassText {
    color: forestgreen ;
}

.NotTestedText {
    color: darkorange ;    
}

.NoDeviceText {
    color: dodgerblue ;
}

.FailText {
    color: red ;
}


.td50 {
    width:50%;
}

.Allignleft {
   text-align:left;
   
}

.AllignCenter {
    text-align: center;
}


.paddingleft {
    padding-left: 0px;
}
