
.width200 {
    width: 200px !important;
}



.PassText {
    color: forestgreen ;
}

.NotTestedText {
    color: darkorange ;    
}

.NoDeviceText {
    color: dodgerblue ;
}

.FailText {
    color: red ;
}


.td50 {
    width:50%;
}

.Allignleft {
   text-align:left;
   
}

.AllignCenter {
    text-align: center;
}


.paddingleft {
    padding-left: 0px;
}

.marginleft10 {
    margin-left: 10px;
}



.touchpaddiv {
    width: 400px;
    height: 400px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:aliceblue;
}


.row {
    display: flex; /* equal height of the children */
}

.col {
    flex: 1; /* additionally, equal width */
    padding: 1em;
    border: solid;
}