@model EDNIFF.Models.SPHardwareDataType

<div class="container">
    <form>
        @*<h2 class="text-center">Join Our Network</h2>*@
        <div class="row jumbotron">

            <div class="col-sm-4 form-group">
                <label for="name-l">Product Type</label>
                <input type="text" class="form-control" name="lname" id="name-l" placeholder="Enter your last name." value="Laptop">
            </div>
            <div class="col-sm-4 form-group">
                <label for="Manufacturer">Manufacturer</label>
                <input type="text" class="form-control" name="Manufacturer" id="Manufacturer" placeholder="Enter your last name." value="Apple">
            </div>
            <div class="col-sm-4 form-group">
                <label for="ModelIdentifier">Model Name</label>
                <input type="text" class="form-control" asp-for="ModelIdentifier" name="ModelIdentifier" id="ModelIdentifier" placeholder="">
            </div>
            <div class="col-sm-4 form-group">
                <label for="PartNumber">Part Number</label>
                <input type="text" class="form-control" name="PartNumber" id="PartNumber" placeholder="">
            </div>
            <div class="col-sm-4 form-group">
                <label for="SerialNumber">Serial Number</label>
                <input type="text" class="form-control" asp-for="SerialNumber" name="SerialNumber" placeholder="Enter your SerialNumber.">
            </div>
            <div class="col-sm-4 form-group">
                <label for="Processor">Processor</label>
                <input type="text" class="form-control" asp-for="ProcessorName" name="Processor" id="Processor">
            </div>
            <div class="col-sm-4 form-group">
                <label for="RamSize">Ram Size</label>
                <input type="text" class="form-control" name="Ram Size" id="RamSize">
            </div>
            <div class="col-sm-4 form-group">
                <label for="ExternalRam">External Ram</label>
                <input type="checkbox" class="form-check d-inline" id="ExternalRam">
                <label for="ExternalRam" class="form-check-label">
                    &nbsp;
                </label>
                <input type="text" class="form-control" name="ExternalRam" id="ExternalRam">
            </div>
            <div class="col-sm-4 form-group">
                <label for="DiskType">Disk Type</label>
                <input type="text" class="form-control" name="DiskType" id="DiskType">
            </div>
            <div class="col-sm-4 form-group">
                <label for="DiskSize">Disk Size</label>
                <input type="text" class="form-control" name="DiskSize" id="DiskSize">
            </div>
            <div class="col-sm-4 form-group">
                <label for="ExternalDisk">External Disk</label>
                <input type="checkbox" class="form-check d-inline" id="ExternalDisk">
                <label for="ExternalDisk" class="form-check-label">
                    &nbsp;
                </label>
                <input type="text" class="form-control" name="ExternalRam" id="ExternalRam">
            </div>
            <div class="col-sm-4 form-group">
                <label for="VideoModel">Video Model</label>
                <input type="text" class="form-control" name="VideoModel" id="VideoModel">
            </div>
            <div class="col-sm-4 form-group">
                <label for="VideoResolution">Video Resolution</label>
                <input type="text" class="form-control" name="VideoResolution" id="VideoResolution">
            </div>
            <div class="col-sm-4 form-group">
                <label for="LCDSize">LCD Size</label>
                <input type="text" class="form-control" name="LCDSize" id="LCDSize">
            </div>

            <div class="col-sm-6 form-group">
                <label for="sex">Keyboard Layout/Language</label>
                <select id="sex" class="form-control browser-default custom-select">
                    <option value="Belgium">Belgium</option>
                    <option value="Hebrew">Hebrew</option>                    
                </select>
            </div>

            <div class="col-sm-4 form-group">
                <label for="OSCOA">OS COA</label>
                <input type="text" class="form-control" name="OSCOA" id="OSCOA">
            </div>

            @*<div class="col-sm-12 form-group mb-0">
            <button class="btn btn-primary float-right">Submit</button>
        </div>*@

        </div>
    </form>
</div>
